---

---
<div class="h-screen w-full">

    <div class="bg-gradient-to-l from-blue-950 to-wt-blue h-full flex">

        <div class="mx-aut my-auto w-3/4 px-20 space-y-1">
            <h1 class="text-white font-ibm-plex-sans text-2xl">
                Somos aliados de la gestión
            </h1>
            <p class="font-ibm-plex-sans text-7xl text-white pt-5 ">
                Aportamos valor al modernizar tus procesos de negocio
            </p>
            <div class="pt-14">
                <button
                        class="bg-blue-400 px-4 py-2 rounded text-gray-800 font-bold shadow-lg shadow-teal-800 motion-safe:animate-[bounce_3s_ease-in-out_infinite] hover:animate-stop z-0">
                    Comenzar
                </button>
            </div>
        </div>
    </div>
</div>

