---

---
<nav class="fixed bg-gradient-to-l from-blue-950 to-wt-blue w-full h-[15] pt-5 px-20 z-20 py-5">
    <div class="flex w-full justify-between items-center">
        <div class="flex flex-col items-center">
            <p class="text-white text-xl font-extrabold font-ibm-plex-sans tracking-wider">WebTux Soluciones</p>
        </div>
        <div class="flex flex-col items-center">
            <ul class="text-white font-ibm-plex-sans tracking-wide flex space-x-4 justify-center w-full">
                <li>
                    <a href="#"
                       class="hover:text-teal-400 focus:border-b focus:border-b-teal-400 transition focus:text-teal-400 focus:pb-2">Soluciones
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="hover:text-teal-400 focus:border-b focus:border-b-teal-400 transition focus:text-teal-400 focus:pb-2">Productos
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="hover:text-teal-400 focus:border-b focus:border-b-teal-400 transition focus:text-teal-400 focus:pb-2">Partners
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="hover:text-teal-400 focus:border-b focus:border-b-teal-400 transition focus:text-teal-400 focus:pb-2">Hosting
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="hover:text-teal-400 focus:border-b focus:border-b-teal-400 transition focus:text-teal-400 focus:pb-2">Contacto
                    </a>
                </li>
                <!--{{&#45;&#45;                <li><a href="" class="hover:text-teal-400">Soporte TI</a></li>&#45;&#45;}}-->
            </ul>
        </div>
        <div class="flex flex-col items-center">
            <a href=""
               class="font-roboto text-teal-400 hover:text-teal-200 py-2 px-4 border border-teal-400 hover:border-teal-200 rounded-lg">
                Acceso Clientes
            </a>
        </div>
    </div>
</nav>